* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-color: #061327;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: 400;
}

a {
    cursor: pointer;
}

body {
    /* Disabled scrolling */
    overflow: hidden;
    width: 100%;
    height: 100%;
}


/* Home page ***********************************************************************************************
***********************************************************************************************************/

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.container1 {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.container1 p {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 65px;
}

.container2 {
    grid-area: 3 / 2 / span 1 / span 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-shrink: 3;
}

.topLine,
.bottomLine {
    background-color: #ffffff;
    height: 10px;
    width: 420px;
    border-radius: 5px 0;
}

.bottomLine {
    width: 800px;
    margin: 10px 20px 10px 0;
}

.container2 a {
    align-self: center;
}

.container2 a:hover {
    opacity: 1;
    padding-top: 10px;
}


/* Menu ****************************************************************************************************
***********************************************************************************************************/

#menu {
    height: 400px;
    width: 300px;
    background-color: #061327;
    float: right;
    position: fixed;
    top: 0;
    right: -300px;
    overflow: hidden;
    transition: 0.6s;
    z-index: 10;
}

header img {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1;
}

#menu a {
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease;
}

#menu ul {
    list-style-type: none;
    margin-top: 110px;
}

#menu ul li {
    margin-bottom: 15px;
}

#menu li:hover {
    transform: translateX(10px);
}

#menu .languages {
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
}

#menu .closebtn {
    position: fixed;
    top: 30px;
    font-size: 40px;
}


/* Sidebar *************************************************************************************************
***********************************************************************************************************/

.sidebarIcon {
    position: fixed;
    top: 110px;
    right: 40px;
    z-index: 1;
}

#sidebar {
    position: fixed;
    top: 160px;
    right: 40px;
    width: 270px;
    height: 520px;
    border: none;
    border-radius: 5px 0;
    font-size: 16px;
    transition: 0.6s;
}

#sidebar div:first-child {
    width: 270px;
    height: 520px;
    border: none;
    border-radius: 5px 0;
    box-shadow: 0 0 0 2px #ffffff;
    display: inline-block;
}

#sidebar section {
    margin: 10px 0 20px 12px;
}

#sidebar span {
    display: inline-block;
    margin: 5px 0 0 15px;
}

#sidebar label {
    display: block;
    margin-top: 5px;
}

#sidebar label span {
    margin-top: 0;
}

#sidebar select {
    position: relative;
    float: right;
    margin-right: 15px;
    border-radius: 5px;
    border-color: #BABABA;
}


/* Inputs in Sidebar *********************/

#sidebar input[type="number"] {
    width: 100px;
    position: relative;
    float: right;
    margin-right: 15px;
    border: none;
    border-bottom: 1px solid #BABABA;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* Hide arrows in input - Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
}

input[type=number] {
    /* Hide arrows=spinners for Firefor */
    -moz-appearance: textfield;
}

#sidebar input[type="checkbox"] {
    position: relative;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 15px;
}


/* 3 buttons at the bottom of Sidebar ********/

#sidebar button {
    position: relative;
    float: left;
}

.confirmChangesButton {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #BABABA;
    margin: 0 90px 0 15px;
}

.playButton,
.pauseButton {
    width: 25px;
    height: 25px;
    border: none;
    background-image: url(/icons/playButton.png);
}

.pauseButton {
    background-image: url(/icons/pauseButton.png);
    position: fixed;
    margin-right: 20px;
}


/* 2 icons for Solar system models ***********/

.models button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    margin-right: 20px;
    background-image: url(/icons/solarSystem2D.png);
}

.models button:nth-of-type(2) {
    left: 110px;
    background-image: url(/icons/solarSystem3D.png);
}