* {
    margin: 0;
    padding: 0;
    background-size: 100%;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.container1 {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.container1 p {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 65px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.container2 {
    grid-area: 3 / 2 / span 1 / span 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-shrink: 3;
}

.topLine,
.bottomLine {
    background-color: #ffffff;
    height: 10px;
    width: 420px;
    border-radius: 5px 0;
}

.bottomLine {
    width: 800px;
    margin: 10px 20px 10px 0;
}

.container2 a {
    align-self: center;
    cursor: pointer;
}

.container2 a:hover {
    opacity: 1;
    padding-top: 10px;
}


/* not used */


/* .container2 a:target {
    animation-name: example;
    animation-duration: 1s;
} */


/* @viewport {
    zoom: 1.0;
    min-zoom: 1.0;
    max-zoom: 2.0;
} */


/* Menu ****************************************************************************************************
***********************************************************************************************************/

#menu {
    width: 300px;
    height: 400px;
    background-color: #061327;
    float: right;
    position: relative;
}

#menu img {
    margin-top: 40px;
    margin-bottom: 30px;
}

#menu a {
    margin-left: 20px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Helvetica Neue';
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease;
    transform: translateX(0px);
}

#menu ul li {
    margin-bottom: 15px;
    list-style-type: none;
}

#menu .languages {
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
}

#menu .languages a:hover {
    font-weight: bold;
}

#menu li:hover {
    transform: translateX(10px);
    font-weight: bold;
}